/* ------------------------------------------------------------------------------------------------------------------ */
/*! Subscribe.module.css !*/
/* ------------------------------------------------------------------------------------------------------------------ */

.Subscribe {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* box-shadow: inset 0 0 0 5px rgb(0, 0, 0); */
}

.Main_Container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Subscribe_Api_List {
  height: 100%;
  width: 200px;
  min-width: 200px;
}

.Subscribe_Data {
  height: 100%;
  width: calc(100% - 200px);
  overflow: visible;
}

.Subscribe_Sub_List {
  height: 100%;
  width: 200px;
  min-width: 200px;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Page,
.List_Providers,
.Product_Panel,
.List_Subscriptions {
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------------------------------------------ */
