/* ------------------------------------------------------------------------------------------------------------------ */
/*! SubscribeData.module.css !*/
/* ------------------------------------------------------------------------------------------------------------------ */

.Page {
  height: 100%;
  width: 100%;
}

.Title {
  height: 30px;
  display: flex;
  flex-direction: column;
  background-color: #292c34;
  font-size: 1.25rem;
  color: white;
  text-align: center;
}

.Body {
  height: calc(100% - 30px);
  text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Page,
.Title,
.Body {
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------------------------------------------ */
