/* ---------------------------------------------------------------------------------------------- */

.Page {
  height: 100%;
  width: 100%;
  min-width: 400px;
}

/* ---------------------------------------------------------------------------------------------- */

.Selection_Menu {
  height: 30px;
  width: 100%;
  min-width: 400px;
  display: flex;
  flex-direction: row;
}

.Selection_Title {
  width: 50%;
  min-width: 200px;
  background-color: rgb(41, 44, 52);
  font-size: 1rem;
  color: white;
  text-align: center;
}

/* ---------------------------------------------------------------------------------------------- */

.Product_Container {
  height: calc(100% - 80px);
  width: 100%;
  min-width: 200px;
  padding-top: 20px;
  padding-left: 20px;
  color: white;
}

/* ---------------------------------------------------------------------------------------------- */

.Button_Container {
  height: 30px;
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.Subscribe_Button,
.UnSubscribe_Button {
  width: 50%;
  flex: 1;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Subscribe_Button {
  background-color: #28a745;
}

.Subscribe_Button:hover {
  background-color: #218838;
}

.UnSubscribe_Button {
  background-color: #dc3545;
}

.UnSubscribe_Button:hover {
  background-color: #c82333;
}

/* ---------------------------------------------------------------------------------------------- */

.Page,
.Selection_Menu,
.Selection_Title,
.Product_Container,
.Button_Container,
.Subscribe_Button,
.UnSubscribe_Button {
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ---------------------------------------------------------------------------------------------- */
