/* ---------------------------------------------------------------------------------------------- */

.Component {
  height: 100%;
  width: 100%;
}

.Positive {
  color: rgb(0, 128, 0);
}

.Negative {
  color: rgb(255, 0, 0);
}

/* ---------------------------------------------------------------------------------------------- */

.Product_List {
  height: calc(100vh - 110px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(30, 30, 30);
  /* color: rgb(255, 255, 255); */
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Product {
  height: 60px;
  width: 100%;
  padding: 0px 20px 0px 0px;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Product div {
  margin-bottom: 5px;
}

.Product:hover {
  background-color: rgb(68, 68, 68);
}

/* ---------------------------------------------------------------------------------------------- */

.Product_Details_Container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Product_Name {
  height: 100%;
  min-width: 100px;
  padding: 0px 20px;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Product_Price {
  height: 100%;
  min-width: 200px;
  padding: 0px 20px;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Product_Volume {
  height: 100%;
  min-width: 350px;
  padding: 0px 20px;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ---------------------------------------------------------------------------------------------- */
