/* ------------------------------------------------------------------------------------------------------------------ */

.Page {
  flex-grow: 1;
  width: 100%;
  padding: var(--panel-padding);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Page {
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------------------------------------------ */
