/* ------------------------------------------------------------------------------------------------------------------ */

.Component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Title {
  height: 40px;
  width: 100%;
  font-size: 1.25rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(41, 44, 52);
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Top_Container {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Top_Left_Container {
  height: 100%;
  width: 50%;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Settings_Box {
  height: calc(100% - 40px);
  width: 100%;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Settings_Text {
  padding: 100px;
  /* box-shadow: inset 0 0 0 5px rgb(0, 0, 0); */
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Top_Right_Container {
  height: 100%;
  width: 50%;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Permission_Box {
  height: calc(100% - 40px);
  width: 100%;
  margin: auto;
  text-align: left;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Permission_Text {
  padding: 20px;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Result_Text.success {
  color: #0f0;
  /* Green for success */
}

.Result_Text.error {
  color: #f00;
  /* Red for error */
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Bottom_Container {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Input_Container {
  height: calc(100% - 40px);
  width: 100%;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Input_Box {
  height: 50%;
  width: 100%;
  text-align: center;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Input_Label {
  font-size: 1.25rem;
  padding: 10px;
  /* box-shadow: inset 0 0 0 5px rgb(0, 0, 0); */
}

.Input {
  height: 40px;
  width: 80%;
  padding: 5px;
  padding-left: 10px;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Button_Box {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Save_Button,
.Delete_Button,
.Test_Button {
  height: 100%;
  width: 200px;
  flex: 1;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Save_Button {
  background-color: #28a745;
}

.Save_Button:hover {
  background-color: #218838;
}

.Delete_Button {
  background-color: #dc3545;
}

.Delete_Button:hover {
  background-color: #c82333;
}

.Test_Button {
  background-color: #c0bd15;
}

.Test_Button:hover {
  background-color: #82800f;
}

/* ------------------------------------------------------------------------------------------------------------------ */
