/* ------------------------------------------------------------------------------------------------------------------ */
/*! Dashboard.module.css !*/
/* ------------------------------------------------------------------------------------------------------------------ */

.Dashboard {
  height: 100vh;
  width: 100vw;
  min-height: 800px;
  min-width: 1280px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #1e1e1e;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Split {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.DashboardSubs {
  border: 5px solid #333;
  overflow: visible;
}

.DashboardChart {
  border: 5px solid #333;
  overflow: visible;
}

.DashboardTrades {
  border: 5px solid #333;
  overflow: visible;
}

/* ------------------------------------------------------------------------------------------------------------------ */
