/* ------------------------------------------------------------------------------------------------------------------ */

.Component {
  height: 100%;
  width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Title {
  height: 30px;
  display: flex;
  flex-direction: column;
  background-color: #292c34;
  font-size: 1.25rem;
  color: white;
  text-align: center;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Subscriptions_List {
  height: calc(100vh - 110px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgb(30, 30, 30);
  /* color: rgb(255, 255, 255); */
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Subscription {
  height: 60px;
  width: 100%;
  padding-left: 20px;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Subscription div {
  margin-bottom: 5px;
}

.Subscription:hover {
  background-color: rgb(68, 68, 68);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Page,
.Title,
.List_Subscriptions,
.Subscription {
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------------------------------------------ */
