/* ------------------------------------------------------------< Connect.module.css > */

.Page_Connect {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 0 0 5px black;
}

/* ------------------------------------------------------------< Connect.module.css > */

.Providers_List {
  min-width: 220px;
  border: 10px 10px solid #333;
  overflow: visible;
  box-shadow: inset 0 0 0 5px black;
}

.Providers_Settings {
  width: calc(100% - 200px);
  border: 10px 10px solid #333;
  overflow: visible;
  box-shadow: inset 0 0 0 5px black;
}

/* ------------------------------------------------------------< Connect.module.css > */