/* ------------------------------------------------------------< Connect.module.css > */

.Page_Connect {
  height: calc(100vh - 80px);
  width: 100vw;
  display: flex;
  flex-direction: row;
}

/* ------------------------------------------------------------< Connect.module.css > */

.Providers_List {
  height: calc(100vh - 100px);
  width: 220px;
  min-width: 220px;
  border: 10px 10px solid #333;
  padding: 10px 10px;
  overflow: visible;
}

.Providers_Settings {
  height: calc(100vh - 100px);
  width: calc(100vw - 220px);
  border: 10px 10px solid #333;
  padding: 10px 10px;
  overflow: visible;
}

/* ------------------------------------------------------------< Connect.module.css > */