/* ---------------------------------------------------------------------------------- */

.Page {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #1e1e1e;
}

.Title {
  height: 30px;
  display: flex;
  flex-direction: column;
  background-color: #292c34;
  font-size: 1.25rem;
  color: white;
  text-align: center;
}

.List_Providers {
  height: calc(100% - 30px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #1e1e1e;
}

/* ---------------------------------------------------------------------------------- */

.Page,
.Title,
.List_Providers {
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ---------------------------------------------------------------------------------- */