/* ----------------------------------------------------------< Subscribe.module.css > */

.Page_Subscribe {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 0 0 5px black;
}

/* ----------------------------------------------------------< Subscribe.module.css > */

.Provider_List {
  height: 100%;
  width: 220px;
  min-width: 220px;
  overflow: visible;
  box-shadow: inset 0 0 0 5px black;
}

.Providers_Settings {
  height: 100%;
  width: calc(100vw - 440px);
  overflow: visible;
  box-shadow: inset 0 0 0 5px black;
}

.Product_List {
  height: 100%;
  width: 220px;
  min-width: 220px;
  overflow: visible;
  box-shadow: inset 0 0 0 5px black;
}

.Title {
  height: 30px;
  display: flex;
  flex-direction: column;
  background-color: #292c34;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  box-shadow: inset 0 0 0 5px black;
}

/* ----------------------------------------------------------< Subscribe.module.css > */
