/* ------------------------------- */
/*! CSS Module: Connect_Tab.module.css !*/
/* ---------------------------------------------------------------------------------------< Tab > */

.Tab_Config {
  height: 100%;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* --------------------------------------------------------------------------------------< Frame> */

.Frame_Top {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Frame_TopLeft {
  height: 100%;
  width: 50%;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Frame_TopRight {
  height: 100%;
  width: 50%;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Frame_Bottom {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* --------------------------------------------------------------------------< Config - Section > */

.Config_Section {
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.ConfigText {
  height: 100%;
  width: 100%;
  text-align: center;
  align-content: center;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ----------------------------------------------------------------------------< Info - Section > */

.Info_Section {
  height: 100%;
  width: 100%;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Info_Section_Row {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;

  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Info_Section_Cell_Key {
  height: 100%;
  width: 200px;
  text-align: center;
  align-content: center;
  padding-left: 20px;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Info_Section_Cell_Result {
  height: 100%;
  width: calc(100% - 200px);
  text-align: left;
  align-content: center;
  padding-left: 20px;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Info_Section_Cell_Result.success {
  color: rgb(127, 255, 0);
  /* Green for success */
}

.Info_Section_Cell_Result.error {
  color: rgb(255, 0, 0);
  /* Red for error */
}

/* ---------------------------------------------------------------------------< Input - Section > */

.Input_Section {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Input_Section_Row {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-content: center;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Input_Section_Cell {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.UserInput_Text {
  height: 40px;
  width: 90%;
  padding-left: 20px;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.UserInput_Dropdown {
  height: 40px;
  width: 90%;
  padding-left: 20px;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* --------------------------------------------------------------------------< Button - Section > */

.Section_Button {
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Button_Save,
.Button_Delete,
.Button_Test {
  height: 100%;
  width: 200px;
  flex: 1;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Button_Save {
  background-color: rgb(0, 100, 0);
}

.Button_Save:hover {
  background-color: rgb(0, 160, 0);
}

.Button_Delete {
  background-color: rgb(139, 0, 0);
}

.Button_Delete:hover {
  background-color: rgb(255, 0, 0);
}

.Button_Test {
  background-color: rgb(184, 134, 11);
}

.Button_Test:hover {
  background-color: rgb(255, 255, 0);
}

/* ---------------------------------------------------------------------------------------------- */
