/* ------------------------------------------------------------------------------------------------------------------ */

.Menu_Container {
  height: 40px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #292c34;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.Menu_Container a {
  text-decoration: none;
  transition: background-color 0.3s;
}

.Menu_Container a:hover {
  background-color: #3a3f47;
  border-radius: 4px;
}

.Menu_Container a.active {
  background-color: #3a3f47;
  font-weight: bold;
}

.Nav_Button {
  height: 40px;
  width: 200px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: background-color 0.3s;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------------------------------------------ */

.LeftSection,
.CenterSection,
.RightSection {
  display: flex;
  align-items: center;
}

.CenterSection {
  flex-grow: 1;
  justify-content: center;
}

/* ------------------------------------------------------------------------------------------------------------------ */
