/* ------------------------------------------------------------------------------------------------------------------ */

.Component {
  height: 100%;
  width: 100%;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.NavMenu {
  height: 30px;
  display: flex;
  flex-direction: row;
  background-color: rgb(41, 44, 52);
  font-size: 1rem;
  color: rgb(255, 255, 255);
  text-align: center;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.NavButton {
  flex: 1;
  background: none;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
  text-align: center;
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

.NavButton:hover {
  background-color: rgb(68, 68, 68);
}

.Active {
  background-color: rgb(30, 136, 229);
}

/* ------------------------------------------------------------------------------------------------------------------ */