/*--------------------------------------------------------------< MenuNav.module.css >*/
.LeftSection,
.CenterSection,
.RightSection {
    display: flex;
    align-items: center;
}

.CenterSection {
    flex-grow: 1;
    justify-content: center;
}

/*  Component Styles  */
.MenuBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #292c34;
    padding: 10px;
    color: white;
}

.MenuBar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    transition: background-color 0.3s;
}

.MenuBar a:hover {
    background-color: #3a3f47;
    border-radius: 4px;
}

.MenuBar a.active {
    background-color: #3a3f47;
    font-weight: bold;
}
/*--------------------------------------------------------------< MenuNav.module.css >*/
