/* ---------------------------------------------------------------------------------- */

.Page {
  flex-grow: 1;
  width: 100%;
  padding: var(--panel-padding);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/* ---------------------------------------------------------------------------------- */
