/*--------------------------------------------------------------< Profile.module.css >*/

.AppContainer {
  height: 100vh;
  min-height: 800px;
  width: 100vw;
  min-width: 1280px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #333;
}

.ProfilePage {
  flex-grow: 1;
  width: 100%;
  padding: var(--panel-padding);
  display: flex;
  flex-direction: column;
  overflow: auto;
}

/*--------------------------------------------------------------< Profile.module.css >*/