/* ------------------------------------------------------------------------------------------------------------------ */

.Page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.List_Providers {
  height: 100%;
  width: 200px;
  min-width: 200px;
  overflow: visible;
}

.Provider {
  height: 100%;
  width: calc(100% - 200px);
  overflow: visible;
}

/* ------------------------------------------------------------------------------------------------------------------ */

.Page,
.List_Providers,
.Provider {
  box-shadow: inset 0 0 0 5px rgb(0, 0, 0);
}

/* ------------------------------------------------------------------------------------------------------------------ */
