/* ------------------------------------------------------< Coinbase_Subs.module.css > */

.Component_Coinbase_Subs {
  height: calc(100% - 30px);
  width: 100%;
  box-shadow: inset 0 0 0 5px black;
}

/* ------------------------------------------------------< Coinbase_Subs.module.css > */

.Product_Menu_Bar {
  height: 30px;
  display: flex;
  flex-direction: row;
  background-color: #292c34;
  justify-content: space-between;
  font-size: 1.25rem;
  color: white;
  text-align: center;
  box-shadow: inset 0 0 0 5px black;
}

.Product_Spot,
.Product_Futures,
.Product_Perps {
  width: 33%;
  color: white;
  box-shadow: inset 0 0 0 5px black;
}

.Product_Spot a,
.Product_Futures a,
.Product_Perps a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.Product_Spot a:hover,
.Product_Futures a:hover,
.Product_Perps a:hover {
  background-color: #3a3f47;
  border-radius: 4px;
}

.Product_Spot a.active,
.Product_Futures a.active,
.Product_Perps a.active {
  background-color: #3a3f47;
  font-weight: bold;
}

/* ------------------------------------------------------< Coinbase_Subs.module.css > */

.Selected_Product {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  background-color: #292c34;
  box-shadow: inset 0 0 0 5px black;
}

/* ------------------------------------------------------< Coinbase_Subs.module.css > */

.Settings_Container {
  height: calc(100% - 150px);
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}

/* ------------------------------------------------------< Coinbase_Subs.module.css > */

.Button_Container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}

.Subscribe_Button,
.UnSubscribe_Button {
  height: 40px;
  width: 200px;
  flex: 1;
  /* padding: 10px 20px; */
  /* border-radius: 4px; */
  border: none;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.Subscribe_Button {
  background-color: #28a745;
}

.Subscribe_Button:hover {
  background-color: #218838;
}

.UnSubscribe_Button {
  background-color: #dc3545;
}

.UnSubscribe_Button:hover {
  background-color: #c82333;
}

/* ------------------------------------------------------< Coinbase_Subs.module.css > */