/* ---------------------- */
/*! Dashboard.module.css !*/
/* -------------------------------------------------------------------------------------< Frame > */

.Frame_Container {
  height: calc(100% - 80px);
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  box-shadow: inset 0 0 0 5px black;
}

/* ---------------------------------------------------------------------------------------------- */

.Split {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
}

/* ---------------------------------------------------------------------------------------------- */

.DashboardSubs {
  border: 5px solid #333;
  overflow: visible;
}

.DashboardChart {
  border: 5px solid #333;
  overflow: visible;
}

.DashboardTrades {
  border: 5px solid #333;
  overflow: visible;
}

/* ---------------------------------------------------------------------------------------------- */
