/* ---------------------------------------------------------------------------------- */

.App_Window {
  height: 100vh;
  min-height: 800px;
  width: 100vw;
  min-width: 1280px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #333;
}

/* ---------------------------------------------------------------------------------- */

.LeftSection,
.CenterSection,
.RightSection {
  display: flex;
  align-items: center;
}

.CenterSection {
  flex-grow: 1;
  justify-content: center;
}

/* ---------------------------------------------------------------------------------- */

.MenuBar {
  justify-content: space-between;
  background-color: #292c34;
  border-bottom: 1px solid #333;
}

.StatusBar {
  background-color: #222;
  justify-content: center;
  border-top: 1px solid #333;
}

.MenuBar,
.StatusBar {
  height: 20px;
  display: flex;
  align-items: center;
  padding: 10px 10px;
  color: white;
}

.MenuBar a,
.StatusBar a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.MenuBar a:hover,
.StatusBar a:hover {
  background-color: #3a3f47;
  border-radius: 4px;
}

.MenuBar a.active,
.StatusBar a.active {
  background-color: #3a3f47;
  font-weight: bold;
}

/* ---------------------------------------------------------------------------------- */
